.mainbox {
    margin: 0 auto 40px auto;
    width: 300px;
    background-color: antiquewhite;
    color: black;
    border-collapse: collapse;
  }
  
  .theadTitle {
    margin-bottom: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.514);
  }
  
  .thItem {
    border: 2px solid rgb(0, 0, 0);
  }
  
  .transactionBox {
    text-align: center;
  }
  
  .tdItem {
    border: 2px solid rgb(0, 0, 0);
  }